.editor {
    border: 1px solid black;
    min-width: 50%; 
    min-height: 500px;
    outline: none;
    padding: 10px;
}

#alice {
    color: #c0392b;
}

#bob {
    color: #192a56;
}

.container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 20px;
}